.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

.dado{
    text-align: center;
    margin: 10px;
}

body {
    background: linear-gradient(
        to bottom right,
        gold,
        black 70%
    );
    margin: 0;
    height: 97vh;
}


h1{
    margin: 30px;
    font-family: "Roboto";
    text-shadow: 5px 0 gold;
    font-size: 4.5rem;
    color: black;
    text-align: center;
}

p{
    font-size: 2rem;
    color: black;
    font-family: "Roboto";
}

img{
    width: 30%;
}

.bottom{
    padding-top: 30px;
}

.butn{
    background: #443c68;
    font-family: "Roboto";
    border-radius: 7px;
    color: black;
    font-size: 30px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
}